* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 33%);
  font-family: 'Lato', 'Arial', 'sans-serif';
  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

.row {
  margin: 0 auto;
  max-width: 1140px;
}

header {
  background: linear-gradient(hsla(0, 0%, 0%, 0.7), hsla(0, 0%, 0%, 0.7)), url("img/hero.jpg") center/cover;
  height: 100vh;
}

.hero-text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  margin-top: 0;
  margin-bottom: 20px;
  color: hsl(0, 0%, 100%);
  font-weight: normal;
  font-size: 240%;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 4px;
}

.btn:link,
.btn:visited {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
  transition: 0.2s;
}


.btn-full:link,
.btn-full:visited {
  background-color: hsl(28, 79%, 51%);
  border: 1px solid hsl(28, 79%, 51%);
  color: hsl(0, 0%, 100%);
  margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
  border: 1px solid hsl(28, 79%, 51%);
  color: hsl(28, 79%, 51%);
}

.btn:hover,
.btn:active {
  background-color: hsl(28, 80%, 45%);
}

.btn-full:link,
.btn-full:visited {
  border: 1px solid hsl(28, 80%, 45%);
}

.btn-ghost:link,
.btn-ghost:visited {
  border: 1px solid hsl(28, 80%, 45%);
  color: hsl(0, 0%, 100%);
}
