* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

body {
    font-family: monospace, fantasy;
    font-size: 16px;
}

h1, h2 {
    color: hsla(134, 100%, 43%, 0.71);
    text-align: center;
    margin-bottom: 10px;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 30px;
}

p {
    text-align: justify;
}

.main-text {
    text-align: justify;
    margin-bottom: 20px;
}

#author {
    font-size: 45px;
    float: left;
}
.container {
    width: 1149px;
    margin: 20px auto 0;
}

.post {
    width: 75%;
    float: left;
    padding-right: 30px;
    position: relative;
}

.other-posts {
    width: 25%;
    float: left;
}

.author {
    padding-top: 10px;
    border-top: 2px solid #656161;
}

.author img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    float: left;
}

.other {
    margin-bottom: 20px;
}

.date {
    position: absolute;
    top: 10px;
    right: 30px
}
